/* ------------------- Base HTML Styles ------------------- */
@import url("https://fonts.googleapis.com/css2?family=Corben:wght@400;700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

:root {
  --brand: #f1c2b9;
  --action: #d89689;
  --white: #ffffff;
  --base-light: #B8C7C4;
  --base-dark: #6F7E7A;
  --base-extra-dark: #33423B;
  --black: #111111;
}


/* ------------------- CSS Reset ------------------- */
html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Roboto Mono", Roboto Mono;
    color: var(--black);
    scroll-behavior: smooth;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: "Corben", Corben;
  }
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-family: "Corben", Corben;
  }
  ol, ul {
    list-style-type: none;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  input, button, textarea, select {
    font: "Corben", Corben;
  }
  
/* ------------------- UTILITIES ------------------- */
  
  .display-none {
    display: none;
  }

/* ------------------- Header Section ------------------- */

/* header */
header {
  border: red solid 1px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--base-light);
}

h1 {
  text-align: center;
}

.hamburger-button {
  border: red solid 1px;
  all: unset;
}

/* logo */
.logo-image {
  border: red solid 1px;
  height: 150px;
}

/* navigation */
.responsive-nav-bar {
  border: red solid 1px;
  padding: 10px;
  text-decoration: none;
  display: flex;
  color: var(--base-extra-dark)
}

.responsive-nav-bar ul {
  display: flex;
  gap: 20px;
}

.responsive-nav-bar a {
  text-decoration: none;
  color: var(--base-extra-dark)
}

nav li {
  border: red solid 1px;
  display: inline-flex;
  width: 85px;
  justify-content: space-around;
}

li {
  text-decoration: none;
}


/* ------------------- About Section ------------------- */
.aesthetics-box {
  background: linear-gradient(to bottom, #B8C7C4, #ffffff);
}

.about-section {
  border: red solid 1px;
  padding: 50px;
  /* margin: 5px; */
  color: var(--base-extra-dark)
}

.about-intro {
  border: red solid 1px;
  background-color: transparent;
}

.about-hero {
  border: red solid 1px;
  background-color: transparent;
  padding: 10px;
  font-size: 50px;
  display: flex;
  align-items: center;
}

.about-description {
  border: red solid 1px;
  background-color: transparent;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}

.about-image {
  border: red solid 1px;
  /* width: 450px; */
  background-color: transparent;
  display: flex;
  justify-content: center;
  
}



/* ------------------- Projects Section ------------------- */

.projects-section {
  border: red solid 1px;
  padding: 30px;
  width: 500px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.project-img {
  width: 150px;
}


/* ------------------- Footer Section ------------------- */
footer {
  border: red solid 3px;
  background-color: var(--base-light);
  width: 100%;
  padding: 30px;
  display: flex;
  justify-content: space-around;
}

.socials-icon {
  border: red solid 1px;
  width: 50px;
}

/* ------------------- About Page ------------------- */
footer {
  border: red solid 3px;
  background-color: var(--base-light);
  width: 100%;
  padding: 30px;
  display: flex;
  justify-content: space-around;
}

.socials-icon {
  border: red solid 1px;
  width: 50px;
}

/* ------------------- Contact Page ------------------- */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.socials-links {
  border: red solid 3px;
  background-color: var(--base-light);
  width: 100%;
  padding: 30px;
  display: flex;
  justify-content: space-around;
}

footer p {
  border: red solid 3px;
  padding: 10px;
  text-align: center;
  font-size: 12px;
}

.socials-icon {
  border: red solid 1px;
  width: 50px;
}

/* ------------------- Media Query ------------------- */

@media (min-width: 600px) {

}