/* -- BASE HTML STYLES -- */
@import url("https://fonts.googleapis.com/css2?family=Corben:wght@400;700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

:root {
  --brand: #f3d7d1;
  --action: #d89689;
  --white: #ffffff;
  --base-light: #B8C7C4;
  --base-dark: #6F7E7A;
  --base-extra-dark: #33423B;
  --black: #111111;
  --margin-full: 10px;
}

/* -- CSS RESET -- */
html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Roboto Mono", Roboto Mono;
    color: var(--black);
    scroll-behavior: smooth;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: "Corben", Corben;
  }
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-family: "Corben", Corben;
  }
  ol, ul {
    list-style-type: none;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  input, button, textarea, select {
    font: "Corben", Corben;
  }
  
/* -- UTILITIES -- */
  .display-none {
    display: none;
  }

/* <!-- HEADER --> */
header {
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--base-extra-dark);
  /* all: unset; */
}

/* -- LOGO -- */

/* Attempting to overlay a secondary logo image to create a hover illusion... */
/* .logo .overlay {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 585px;
  top: 8px;
  z-index: 2;
  background: transparent url('file:///C:/Users/domms/OneDrive/Documents/SheCodes/personal-portfolio/domspenc.github.io/img/dom-logo-pink-dark.svg') no-repeat;
  -webkit-transition: opacity 1s ease-in;
  -moz-transition: opacity 1s ease-in;
  -ms-transition: opacity 1s ease-in;
  -o-transition: opacity 1s ease-in;
  transition: opacity 1s ease-in;
}

.logo a:hover + .overlay {
  opacity: 1;
} */

.logo {
  max-width: 100px;
  padding: 0px;
  margin: var(--margin-full);
}

.hamburger-button {
  border: var(--base-extra-dark) solid 1.5px;
  background-color: var(--brand);
  width: 50px;
  margin: 20px;
}

/* <!-- NAV BAR --> */
.responsive-nav-bar {
  display: none;
  padding: 20px;
  color: var(--base-extra-dark);
}

.responsive-nav-bar ul {
  display: flex;
  gap: 20px;
}

.responsive-nav-bar ul li {
  border: var(--base-extra-dark) solid 1.5px;
  background-color: #f3d7d1;
  padding: 15px;
  border-radius: 3px;
  color: var(--base-extra-dark);
  text-decoration: none;
  display: flex;
  align-items: center;
}

.responsive-nav-bar li:hover {
  background-color: #d89689;
  box-shadow: 2px 2px 2px var(--brand);
  transition: all 1s ease;
}

@media (min-width: 768px) {
  .hamburger-button {
    display: none;
  }
  .responsive-nav-bar {
    display: flex;
  }
  li {
    text-decoration: none;
  }
}

nav li {
  display: inline-flex;
  width: 85px;
  justify-content: space-around;
}

/* -- ABOUT SECTION -- */
.aesthetics-box {
  background: linear-gradient(to bottom, #B8C7C4, #ffffff);
  padding: 75px;
}

.about-section {
  padding: 50px;
  color: var(--base-extra-dark)
}

.about-intro {
  background-color: transparent;
}

.about-hero {
  background-color: transparent;
  padding: 10px;
  font-size: 50px;
  display: flex;
  justify-content: center;
}

.aesthetics-box .about-description {
  background-color: transparent;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.aesthetics-box .about-image {
  width: 350px;
  background-color: transparent;
  display: block;
  margin: 0 auto;
}

h1 {
  margin: 20px;
  text-align: center;
}

h3 {
  margin: 20px;
}

@media (min-width: 700px) {
  .about-hero {
    font-size: 65px;
  }
  .about-description {
    display: flex;
  }
  .aesthetics-box .about-image {
    width: 450px;
  }
}

@media (max-width: 500px) {
  .about-hero {
    font-size: 45px;
  }
  .about-description {
    display: flex;
  }
}

@media (max-width: 400px) {
  .about-hero {
    font-size: 35px;
  }
  .about-description {
    display: flex;
  }
}

/* -- PROJECTS SECTION -- */
.projects-section {
  padding: 0 auto;
}

.projects-header {
  padding: 20px; 
  color: var(--base-extra-dark);
  border-top: 1px solid var(--base-extra-dark);
}
.project-tiles {
  padding: 20px 20px 150px 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

div.project {
  border: var(--base-extra-dark) solid 2px;
  background-color: var(--brand);
  max-width: 350px;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  color: var(--base-extra-dark);
}

.project-img {
  padding: 10px 0px;
}

.project-heading {
  color: var(--base-extra-dark);
  text-decoration: none;
}

.project p {
  color: var(--base-extra-dark);
  /* max-width: 250px; */
  text-align: wrap;
}

.project:hover {
  background-color: #d89689;
  box-shadow: 2px 2px 2px var(--brand);
  transition: all 1s ease;
}

@media (max-width: 700px) {
  .hidden-for-mobile {
    display: none;
  }
}


/* -- FOOTER SECTION -- */
footer {
  background-color: var(--base-light);
  border-top: var(--base-extra-dark) solid 1px;
  width: 100%;
  padding: 50px;
  display: flex;
  justify-content: space-around;
}

button {
  font-family: Corben;
  border-radius: 25px;
  margin: 0 auto;
  display: block;
  padding: 16px 24px;
  background-color: var(--base-light);
  border: 3px solid var(--base-dark);
  color: var(--base-extra-dark);
  font-size: 15px;
  line-height: 22px;
  text-decoration: none;
  transition: all 200ms ease;
  box-shadow: 2px 2px 2px var(--brand);
}
button:hover {
  font-family: Corben;
  color: var(--base-extra-dark);
  background: var(--brand);
  border: 3px solid var(--brand);
  transition: 250ms ease-in-out;
  box-shadow: 2px 2px 2px var(--base-extra-dark);
  font-size: 15px;
  cursor: pointer;
}

.socials-icon {
  width: 50px;
}

.socials-links {
  background-color: var(--base-light);
  width: 100%;
  padding: 30px;
  display: flex;
  justify-content: space-around;
}

/* -- ABOUT PAGE -- */
footer {
  background-color: var(--base-light);
  width: 100%;
  padding: 30px;
  display: flex;
  justify-content: space-around;
}

.socials-icon {
  width: 50px;
}

/* -- CONTACT PAGE -- */
h1 {
  color: var(--base-extra-dark);
}

form {
  background-color: rgb(216, 150, 137, 0.5);
  padding: 50px;
  }

.form-group {
  border: var(--base-extra-dark) solid 1px;
  color: var(--base-extra-dark);
  background-color: var(--brand);
  max-width: 100%;
  margin: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  border: var(--base-extra-dark) solid 2px;
  color: var(--base-extra-dark);
  background-color: var(--brand);
  margin: 10px;
  padding: 15px;
  display: flex;
  justify-content: center;
}


button {
  border: var(--base-extra-dark) solid 2px;
}

textarea {
  width: 75%;
}


footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer p {
  padding: 10px;
  text-align: center;
  font-size: 12px;
}

